  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overscroll-behavior: none;
    overflow-x: hidden;
  }

  .copy {
    position: absolute;
    right: 0;
    padding: 1em;
    font-size: 0.75em;
    padding-top: 1.25em;
    opacity: 0.8;
    font-family: inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .mainCont {
    overflow: hidden;
    height: 100dvh;
  }

  .logocont {
    height: 6em;
    aspect-ratio: 1.7/1;
    margin-top: 0.5em;
    overflow: hidden;
    position: relative;
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
  }
  .logo {
    background: url(./assets/rebrand2.png) center / auto 80% no-repeat;
    height: 100%;
    /* aspect-ratio: 1.5/1; */
    /* margin-top: 0.5em; */
    background-color: #323030;
    /* border-radius: 10px; */
    transform: translateY(-100%);
    will-change: transform;
    transition: transform 1.1s 0.3s var(--cubic);
  }


  .circle {
    /* background: var(--textColor); */
    height: 3vh;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
  }

  html {
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cubic: cubic-bezier(0.65, 0, 0.35, 1);
    --darkMainColor: #d8c0d8;
    --textColor: #4e4a4a;
    --darkbg: #323030;

  }
  
  @font-face {
    font-family: inter;
    src: url('/assets/inter.ttf');
  }

  @font-face {
    font-family: raleway;
    src: url('../public/Raleway-VariableFont_wght.ttf');
  }



  .preloaderCont {
    height: 100vh;
    width: 100vw;
    /* background: white; */
    background: #eef2f3;
    position: fixed;
    z-index: 6;
     display: flex;
    /* justify-content: center;
    align-items: center; */
    clip-path: inset(0 0 0 0);
    transition: clip-path 1s var(--cubic);
  }

  .middleCont {
    height: fit-content;
    align-self: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
    margin-inline: auto; 
    position: relative;
  }

  .personal, .brand {
    overflow: hidden;
  }

  .personal span {
    --prdelay: 0.05s
  }

  .brand span {
    --prdelay: 0.1s
  }

  .middleCont span {
    display: block;
    will-change: transform;
    font-family: inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    transform: translateY(-100%);
    transition: transform 1s var(--prdelay) var(--cubic);
  }

  .showPreloaderText {
    transform: translateY(0%) !important;
  }
  .hideprtext {
    transform: translateY(100%) !important;
  }


  .hidepreloader {
    clip-path: inset(0 100% 0 0);
  }


  .preloadersuqare {
    height: 1em;
    position: absolute;
    margin-top: auto;
    margin: 1em;
    aspect-ratio:  1 / 1;
    background: var(--textColor);
    animation: preloaderSquare 1s var(--cubic) infinite;
  }

  @keyframes preloaderSquare {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



  .upSection {
    height: 80vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    top: 0;
    z-index: 3;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
    --onPlayOpacity: 1;
  }

  .special {
    background: black;
    height: 100%;
    width: 100vw;
    position: absolute;
    transition: clip-path 1.3s var(--cubic);
    clip-path: inset(0 100% 0 0);
    background-color: black;
  }

  .speedhunters {
    clip-path: inset(0 0 0 0);
  }

  .special video {
    --opacity: 1;
    height: 100%;
    margin-left: 0;
    width: 53em;
    object-fit: cover;
    transition: opacity 0.3s, width 0.8s var(--cubic), height 0.8s var(--cubic);
    opacity: var(--opacity);
  }

  .videoBgCont {
    top: 30vh;
    height: 70lvh;
    width: 100%;
    z-index: 2;
    opacity: 0;
    position: absolute;
    transition: opacity 1s var(--cubic), transform 1s var(--cubic);
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    overflow: hidden;
    --letterBg: 0
  }

  .bottomPanel {
    gap: 1em;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0.5em;
    margin-left: 1em;
    display: flex;
    position: relative;
  }
  .bottomPanelDecor {
    display: none;
    background: var(--darkMainColor);
    opacity: 0.6;
    height: 1em;
    aspect-ratio: 1/1;
  }
  .statusBottom {
    height: 2em !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    aspect-ratio: 1/1;
  }
  .specialTitle {
    color: white;
    font-size: 2em;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* --letterBg: 0 */
  }
  .specialTitle::after {
    content: '';
    display: block;
    height: 30%;
    width: 88%;
    transform: translate(4%) scaleX(var(--letterBg));
    transform-origin: left;
    transition: transform 1.1s cubic-bezier(0.33, 1, 0.68, 1)	 1s;
    position: absolute;
    z-index: -1;
    background: rgba(255, 255, 0, 0.716);
    background: #d8c0d894;
  }

  .underlineSpecial {
    height: 0.05em;
    border-radius: 5px;
    top: 0;
    transform: translateY(-125%);
    background: var(--darkMainColor);
    left: 0;
    position: absolute;
  }


  .h2Special {
    font-family: inter;
    font-weight: 400;
    overflow: hidden;
  }
  .letter {
    display: block;
    transform: translate(-100%);
    opacity: 0;
    transition: 
      transform 1.2s var(--cubic) var(--delayLetter), 
      opacity 0.9s var(--delayLetter);  
  }
  /* @keyframes letterAnimation {
    from {
      filter: blur(0);
    }
    3% {
      filter: blur(3px);
    }
    6% {
      filter: blur(0);
    }
    to {
      filter: blur(0);
    }
  } */
  .showLetter {
    transform: translate(0%);
    opacity: 1;
    filter: unset;
  }
  .specialTitle::before {
    content: '#';
    color: var(--darkMainColor);
    font-size: 1em;
    font-weight: 300;
    padding-right: 0.2em;
    display: block;
    transition: transform 0.8s var(--cubic);
  }


  .videoBgShow {
    opacity: 1;  
    transform: scale(1);
  }

  .bgVideo {
    height: 200vh;
    width: 100%;
    background: black;
    position: absolute;
    top: -50%;
    opacity: 0.9;
  }

  .fullCont {
    filter: drop-shadow(0 0 10px greenyellow);
    transform: translateY(-5%);
    position: relative;
    cursor: pointer;
    margin-left: 1em;
    height: 3.5em;
    aspect-ratio: 1/1;
    border-radius: 15px;
    opacity: 0.5;
    overflow: visible;
    mix-blend-mode: difference;
  }

  .full {
    cursor: pointer;
    height: 100%;
    border: none;
    aspect-ratio: 1/1;
    transition: transform 0.4s var(--cubic);
    background: url('./assets/full3.svg') center 0.2em / contain no-repeat;
    background-color: unset;
  }

  .full1 {
    clip-path: inset(0 50% 0 0);
  }
  .full2 {
    left: 0;
    position: absolute;
    clip-path: inset(0 0 0 50%);
  }
  .fullCont:hover .full2 {
    transform: scale(1.1) translate(10%, -10%);
  }
  .fullCont:hover .full1 {
    transform: scale(1.1) translate(-10%, 10%);
  }

  .fullScreen {
    width: 100% !important;
  }

  .maskBg {
    background: radial-gradient(
      closest-corner at 35vw 20vw,
      /* rgba(255, 47, 47, 0.571) 0%, */
      #e1eec3,
      /* #acbb78, */
      transparent 40%
      ) no-repeat;
      /* linear-gradient(var(--darkMainColor), var(--darkMainColor)) repeat; */
    height: 80vh;
    transform-origin: 60vw center;
    width: 100%;
    position: absolute;
    animation: maskbg 60s linear infinite;
  }

  .blurbg2 {
    height: 100vh;
    background: radial-gradient(
      circle at top,
      /* rgba(255, 47, 47, 0.571) 0%, */
      #ed426491,
      /* #acbb78, */
      transparent 30%
    ) no-repeat !important;
    transform-origin: 80vw 20vh;
      /* left: 20vw; */
    animation: unset;
  }


  @keyframes maskbg {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .blurBg {
    height: 80vh;
    width: 100%;
    position: absolute;
    transform: scale(1);
    transition: opacity 1s var(--cubic), transform 1s var(--cubic);
    background: linear-gradient(var(--darkMainColor), var(--darkMainColor)) repeat;
  }

  .hideviolet {
    opacity: 0;
    transform: scale(0.95);
  }

  .snowCont {
    position: absolute;
    /* bottom: 2.25em; */
    bottom: 0;
    right: 0;
    display: flex;
    transform: translate(-30%, -45%) rotate(0);
    transition: opacity 0.3s;
    opacity: var(--onPlayOpacity)
  }

  .decorSnow {
    /* height: 12vh; */
    width: 10vw;
    border-radius: 20px;
    height: 5vh;
    aspect-ratio: 1/1;
    background: url('assets/startsnow.svg') center / auto 90%  no-repeat;
    /* background-color: #ffffff1f; */
    
    pointer-events: none;
    animation: snow 35s 5s infinite var(--cubic);
    pointer-events: all;
  }

  .linkCont:hover .circle {
    background: white;
  }

  .snowblur {
    position: absolute;
    z-index: -1;
    background: var(--textColor);
    /* background-color: #ffffff1f; */
    animation: unset;
  }


  @keyframes snow {
    from {
      transform: rotate(0);
    }
    /* 25% {
      transform: translate(20%, 20%) rotate(90deg);
    } */
    15% {
      transform: rotate(180deg);
    }
    30% {
      transform: rotate(-15deg);
    }
    37% {
      transform: rotate(10deg);
    }
    42%, 100% {
      transform: rotate(0);
    }
  }

  .upOutter {
    position: relative;
    height: 100%;
  }

  .upInner {
    height: 100%;
  }

  .year {
    position: absolute;
    font-family: inter;
    right: 0%;
  }


  .linkCont {
    position: absolute;
    margin-top: 5vh;
    left: 50%;
    display: flex;
    gap: 0.5em;
    transition: opacity 0.3s;
    opacity: var(--onPlayOpacity)
  }

  .elHoyoImg {
    height: 100%; 
    aspect-ratio: 1.5/1;
    border-radius: 8px;
    animation: linkbg 30s linear infinite;
  }

  @keyframes linkbg {
    from, 48% {
      background: url('./assets/link1.png') center / 200%;
    }
    52%, 96% {
      background: url('./assets/link2.png') center / 200%;
    }
    to {
      background: url('./assets/link1.png') center / 200%;
    }
  }

  .another {
    font-size: 1em;
    white-space: nowrap;
    font-family: inter;
    color: var(--textColor);
  }



  .inspiredCont {
    position: absolute;
    right: 2%;
    padding-top: 5vh;
    width: fit-content;
    background: #ffffff1f;
    border-radius: 8px;
    padding: 1em;
    padding-right: 2em;
    transition: opacity 0.3s;
    opacity: var(--onPlayOpacity)
  }

  .inspBy {
    overflow: hidden;
    font-family: inter;
    font-size: 1em; 
    position: relative;
    margin-top: 0.25em;
    display: flex;
    width: fit-content;
    cursor: pointer;
  }

  .insp {
    background: url('./assets/inspired.png') center / cover;
    height: 13vh;
    border-radius: 7px;
    aspect-ratio: 1.65/1;
  }

  .inspTitle {
    color: var(--textColor);
    font-family: inter;
    font-size: 1.4em;
    letter-spacing: 0.025em;
    padding-top: 0.25em;
    pointer-events: none;
  }

  .inspTitle::after {
    content: '(2024)';
    position: absolute;
    font-family: inter;
    color: var(--textColor);
    font-size: 0.65em;
    padding-left: 0.1em;
  }

  .inspByInner {
    transition: color 0.5s;
    text-decoration: none;
    color: white;
  }

   .inspBy::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    bottom: 0;
    position: absolute;
    transition: background-color 0.3s;
    background-color: white;
  }

  .link {
    font-size: 1.2em;
    white-space: nowrap;
    font-family: inter;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }

  .inspBy a {
    display: flex;
    --trMain: 0%
  }

  .inspBy a::before, .inspBy a::after {
    content: '';
    position: relative;
    display: block;
    height: 1em;
    margin-right: 0.25em;
    aspect-ratio: 1/1;
    transition: background 0.3s, transform 0.6s var(--cubic);
  } 

  .inspBy a::before {
    transform: translateY(calc(0% - var(--trMain)));
    background: url('assets/noun-arrow-92219.svg') top / 80% no-repeat;
  } 
  .inspBy a::after {
    position: absolute;
    transform: translateY(calc(120% - var(--trMain)));
    background: url('assets/noun-arrow-black.svg') top / 80% no-repeat;
  }

  .inspBy:hover a {
    color: var(--textColor);
    --trMain: 120%
  }

  .inspBy:hover::after {
    background-color: var(--textColor);
  }



  .playerCont {
    height: 8vh;
    margin-top: 5vh;
    margin-left: 1em;
    width: fit-content;
    position: fixed;
    z-index: 2;
    border-radius: 35px;
    transition: clip-path 0.6s var(--cubic);
    clip-path: inset(0 40% 0 0 );
    overflow: scroll;
  }

  .playerCont::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 60%;
    height: 100%;
    border-radius: 35px;
    background: rgba(78, 74, 74, 0.221);
    backdrop-filter: blur(3px);
    transition: width 0.6s var(--cubic);
  }

  .playerCont:hover {
    clip-path: inset(0 0 0 0 );
  }
  .playerCont:hover::after {
    width: 100%;
  }

  .leftPanelCont {
    position: relative;
    height: 100%;    
    display: flex;
    align-items: center;
  }

  .nextTrack, .prevTrack, .playstatus {
    transition: transform 0.4s, background 0.2s;
    will-change: transform;
    border: none;
  }

  .nextTrack:hover, .playstatus:hover, .prevTrack:hover {
    transform: scaleX(var(--rotate)) scale(1.25);
  } 

  .trackButtonsScale {
    transform: scaleX(var(--rotate)) scale(1.25)  !important;
  }

  .playstatus {
    height: 40%;
    aspect-ratio: 1/1;
    margin-left: 1em;
    margin-right: 0.5em;
    cursor: pointer;
  }

  .nextTrack, .prevTrack {
    background: url('assets/nextcircle.svg') center / cover no-repeat;
    height: 60%;
    aspect-ratio: 1/1;
    cursor: pointer;
  }

  .nextTrack {
    margin-right: 0.2em;
    --rotate: 1;
  }

  .prevTrack { 
    /* перенесла вначало переменную */
    --rotate: -1; 
    margin-left: 0.5em;
    margin-right: 0.2em;
    transform: scaleX(var(--rotate));
  }

  .pause {
    border: none;
    background: url('assets/play.svg') center / cover;
  }
  .play {
    border: none;
    background: url('assets/pause.svg') center / 90% no-repeat;
  }

  .label {
    height: 90%;
    opacity: 1;
    transition: background 0.2s ;
    aspect-ratio: 1/1;
  }

  .audioRL {
    overflow: hidden;
    padding-top: 0.1em;
  }

  .audioRLInner {
    display: flex;
    width: fit-content;
    align-items: center;
    animation: audiorl 40s linear infinite;
  }

  @keyframes audiorl {
    from, 25% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .ostTitle, .ostTitle2 {
    font-family: inter;
    white-space: nowrap;
    text-transform: capitalize;
    color: white;
    font-size: 1em;
  }

  .ostTitle2 {
    position: absolute;
    right: 0;
    transform: translateX(100%);
  }

  .hierarchyOst {
    background: url('assets/hierarchylabel.jpeg') center / cover;
  }

  .burgos {
    background: url('assets/burgos.jpeg') center / cover;
  }

  .handbook {
    background: url('./assets/handbook.jpeg') center / cover;
  }

  .xxxost {
    background: url('assets/xxxlabel.jpeg') center / cover;
  }

  .tracy {
    opacity: 0.9;
    background: url('assets/tracy.jpeg') center / cover;
  }

  .peep {
    background: url('assets/peep.jpeg') center / cover;
  }
  .dclxvi {
    background: url('assets/dclxvi.jpeg') center / cover;
  }

  .bones {
    background: url('assets/hqdefault.jpeg') center / cover;
  }

  .twohigh {
    background: url('./assets/2high.avif') center / cover;
  }

  .chlorella {
    background: url('assets/chlorella.webp') center / cover;
  }

  .chekoi {
    background: url('assets/chekoi.jpeg') center / cover;
  }



  .upTextCont {
    position: absolute;
    bottom: 2.5em;
    width: 100%;
    display: flex;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.3s;
    opacity: 1;
  }

  .divH1Cont {
    pointer-events: none;
    display: flex;
    border-right: 1px solid var(--textColor);
  }

  .h1ContVideo {
    opacity: 0.3;
  }

  .meg {
    font-family: inter;
    text-transform: uppercase;
    color: var(--textColor);
    font-size: 13em;
    font-weight: 400;
    display: flex;
    border-radius: 35px;
    transition: transform 1.2s var(--delay) var(--cubic);
    transform: translateY(-100%);
    line-height: 0.8;
    /* border: solid 2px #4e4a4a; */
  }
  .showMeg {
    transform: translateY(0);
  }

  .g::after {
    content: "©";
    font-size: 0.15em;
    display: block;
    transform: translateX(-0.5em);
  }


  .upTextLeftCont {
    height: fit-content;
    align-self: flex-end;
    width: fit-content;
    padding-bottom: 1em;
    padding-left: 2em;
    min-width: 30vw;
    position: relative;
  }


  .leftup {
    font-family: inter;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 1.2;
    color: var(--textColor);
    pointer-events: none;
  }

  .topText::after {
    content: '*';
    /* color: transparent; */
    /* display: block; */
    /* background: url('./assets/diamond.svg') center / cover no-repeat; */
    /* position: absolute; */
  }


  .leftTextTop {
    pointer-events: none;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1.5s var(--cubic);
  }

  .showText {
    clip-path: inset(0 0 0 0);
  }

  .leftTextBottom {
    padding-top: 2em;
    display: flex;
    align-items: center;
  }

  .metaLeft {
    display: flex;
  }

  .time, .moscow, .year {
    font-size: 1em;
    border: solid 1px var(--textColor);
    border-radius: 35px;
    padding-inline: 0.5em;
    color: var(--textColor);
  }

  .time {
    margin-right: 0.25em;
  }

  .langCont {
    right: 0;
    position: absolute;
    pointer-events: all;
  } 

  .langCont:hover .lang {
    background: #957171a0;
    pointer-events: all;
  }

  .lang {
    background: var(--textColor);
    border-radius: 35px;
    cursor: pointer;
    border: unset;
    color: white;
    padding-inline: 1.5em;
    font-family: inter;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
    transition: background 0.3s;
  }


  .middleSection{
    height: 85svh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .middleBg {
    height: 120lvh;
    top: -10lvh;
    width: 100%;
    position: fixed;
    will-change: transform;
    filter: brightness(95%);
    transform: translateY(var(--prlxMiddle));
    background: url('./assets/2148110472.jpg') center / cover;
    z-index: -1;
  }

  .creditsCont {
    width: fit-content;
    background: rgba(78, 74, 74, 0.15);
  }

  .creditsRL {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    padding-inline: 2em;
    backdrop-filter: blur(1px);
    animation: creditsRL 140s linear infinite;
    will-change: transform;
  }

  @keyframes creditsRL {
    from {
      transform: translateY(85vh)
    }
    to {
      transform: translateY(-100%)
    }
  }

  .shows, .movies, .other {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
  }

  .other {
    padding-bottom: 85vh;
  }

  .mostly {
    color: white;
    font-family: inter;
    padding-bottom: 0.5em;
  }

  .title {
    color: white;
    font-family: inter;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 1em;
  }

  .titleContent {
    color: rgb(255, 255, 255);
    font-family: inter;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 0.15em;
  }

  @media (max-width: 600px) {

    .preloader {
      bottom: 1em;
    }

    .copy {
      padding-top: unset;
      padding-bottom: 1.25em;
      bottom: 0;
    }

    .brandIphone {
      transform: translateY(-20%);
    }

    .copyIphone {
      bottom: 11vh;
    }

    .preloaderiphone {
      bottom: 4.3em;
    }

    .upSection {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    .speedhunters {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .special video {
      height: 70%;
    }
    .bottomPanel {
      flex-direction: column;
      gap: 0.1em;
      margin-bottom: 4em;
      margin-left: unset;
      opacity: 0.7;
    }
    .bottomalt {
      margin-bottom: 7em;
    }
    .bottomiphone {
      margin-bottom: 5.5em;
    }
    .underlineSpecial {
      display: none;
    }

    .bottomPanelDecor {
      display: none;
    }
    .specialTitle {
      font-size: 2em;
      opacity: 0.3;
    }
    .specialTitle::after {
      content: '';
    }
    .specialTitle::before {
      content: unset;
    }

    .fullCont {
      left: 0;
      margin-left: unset;
      display: none;
    }

    .fullScreen {
      width: 100vw !important;
      height: 100% !important;
    }

    .maskBg {
      background: unset
    }

    .audioRLInner {
      animation: audiorl 35s linear infinite;
    }

     .nextTrack:hover,  .prevTrack:hover {
       transform: scaleX(var(--rotate));
     } 

     .prevTrack {
      margin-top: unset
     }

    .middleSection {
      height: 85vh;
      background: unset 
    }

    .middleBg {
      background: 
      url('./assets/2148110472.jpg') center / cover;
    }

    .middleBg::after {
      content: '';
      height: 100%;
      display: block;
      background-color: rgba(78, 74, 74, 0.15);
    }

    .creditsCont {
      background: unset;
    }

    .creditsRL {
      animation: creditsRL 150s linear infinite;
    }

    .playerCont {
      height: 7vh;
      margin-top: 4vh;
      margin-left: 0.7em;;
      clip-path: unset;
      display: flex;
      width: auto;
      margin-inline: 3vw;
    }

    .playerCont:hover {
      clip-path: unset;
    }

    .playerCont::after {
      width: 100%;
    }

    .playerCont:hover::after {
      width: 100%;
    }

    .leftPanelCont {
      width: 66vw;
      transition: width 0.6s var(--cubic);
      /* перенсла сюда ширину т к это убираетартефакт почеркивани и длбавила наконт ауто ширина для этой же цели */
    }


    .playerCont:hover .leftPanelCont {
      width: 94vw;
    }

    .snowCont {
      bottom: 3.75em;
      display: none
    }

    .decorSnow {
      background: url(/src/assets/startsnow.svg) center / contain no-repeat;
      height: 13vh;
    }

    .snowblur {
      background: var(--textColor);
    }

    .inspiredCont { 
      right: 3%;
      padding: unset;
      padding-top: 1.7em;
      background: unset;
      transform: scale(0.85);
    }

    .insp {
      height: 6vh;
    }

    /* new */
    .inspTitle {
      font-size: 1.15em;
    }
    .inspTitle::after { content: '';}
    /* new */
    .inspBy {
      font-size: 0.9em;
    }

    .linkCont {
      left: 3%;
      margin-top: 13vh;
      height: fit-content;
    }

    .upTextCont {
      flex-direction: column;
      bottom: 0.5em;
      z-index: 1;
    }

    .divH1Cont {
      pointer-events: none;
      display: flex;
      border-right: unset;
    }

    .meg {
      font-size: 9em;
    }

    .leftTextTop {
      max-width: 45vw;
    }

    .upTextLeftCont {
      padding-left: 0.75em;
      padding-right: 0.5em;
      padding-top: 1em;
      align-self: unset;
      display: flex;
    }

    .leftTextBottom {
      padding-top: unset;
      display: flex;
      gap: 0.5em;
      flex-direction: column;
    }

    .metaLeft {
      display: flex;
    }

    .year {
      position: unset;
      align-self: flex-end;
    }

    .leftup {
      font-size: 1em;
    }

    .time, .moscow, .year {
      font-size:  1em;
    }

    .creditsRL {
      animation: creditsRL 170s linear infinite;
    }
  }

  @media and (min-height: 910px) and (max-width: 600px){
    .copyIphone {
      bottom: 0vh;
    }
    .copy {
      bottom: 0;
    }
  }


  @media (max-height: 600px) and (max-width: 1000px) and (min-width: 500px) {

    .preloader {
      margin-bottom: 2em;
    }

    .decorSnow {
      /* 15 */
      height: 5vh;
    }

    .upSection {
      height: 83vh;
      border-radius: 0;
    }

    .maskBg, .blurBg {
      height: 83vh;
    }

    .link {
      font-size: 1.2em;
    }

    .inspiredCont {
      right: 0;
      transform: scale(0.65);
    }

    .insp {
      display: none;
    }

    .another {
      font-size: 0.84em
    }

    .playerCont {
      height: 9vh;
    }

    .prevTrack {
      margin-top: unset;
    }

    .nextTrack:hover {
       transform: scaleX(var(--rotate));
     } 
     .prevTrack:hover {
      transform: scaleX(var(--rotate));
    } 

    .fullCont {
      height: 2.5em;
    }

    .ostTitle, .ostTitle2 {
      font-size: 0.75em;
    }

    .inspTitle {
      font-size: 1.2em;
    }

    .inspTitle::after {
      display: none;
    }

    .inspBy {
      font-size: 0.8em;
    }

    .linkCont {
      transform: scale(0.8);
    }

    .meg {
      font-size: 6.5em;
    }

    .upTextCont {
      bottom: 1.25em;
    }

    .upTextLeftCont {
      padding-bottom: 0.25em;
      min-width: 40vw;
    }

    .leftup {
      font-size: 0.9em;
    }

    .leftTextBottom {
      padding-top: 1em;
    }
    .time, .moscow, .year {
      height: fit-content;
      font-size:  0.8em;
    }

    .year {
      padding-top:  0.1em;
    }
  }


  @media (min-width: 1380px) {

    .special video {
      width: 70em
    }

    .bottomPanel {
      margin-bottom: 2.5em;
    }

    .specialTitle {
      font-size: 2.5em;
    }

    .fullCont {
      margin-left: 2em;
      height: 4em;
    }

    .ostTitle, .ostTitle2 {
      font-size: 1.5em;
    }

    .link {
      font-size: 1.75em;
    }

    .insp {
      height: 13vh;
    }

    .another {
      font-size: 1.2em
    }

    .meg {
      font-size: 17em;
    }

    .leftup {
      font-size: 1.7em;
    }

    .time, .moscow, .year {
      font-size:  1.2em;
    }

    .title {
      font-size: 3em;
    }

    .titleContent {
      font-size: 1.5em;
    }
  } 